#first_head{
    font-size: 40px;
    margin-left: 550px;
    border-radius: 10px;
    width: 500px;
    margin-top: 20px;
    text-align: center;
}
canvas {
    border:1px solid black;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 2px 2px 30px blue;}
    to{box-shadow: 2px 2px 30px red;}
}
#apply_fliter_btn{
    margin-left: 750px;
}
#camera_btn{
    margin-left: 750px;
}